body {
    margin:0px;
    padding:0px;
    color:#484848;
    font-size:14px;
    font-family:Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;  
}
.message {
    position:absolute;
    left:50%;
    top:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    }